<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .jumbotron {
            padding: 20px;
            margin: 0px;
        }

        .no-padding {
            padding: 0px;
        }

        body * {
            font-size: 10px !important;
        }

        input,
        select {
            height: 25px!important;
        }
    </style>
</head>

<body>
    <div id="wrapper" class="container container-fluid" style="padding: 20px;">
        <div class="jumbotron" style="background:#EEE" style="margin: 0px;">
            <div class="row">
                <div class="logo" style="margin-left: 20px;">
                    <img src="http://www.grupoproductivo.com.ar/img/goo.jpg" style="width: 110px;max-height: 100px;">
                </div>
            </div>
        </div>
        <div class="" id="content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-4">
                            <div class="form-group form-horizontal">
                                <label for="fusr">First Name <span style="color:red">*</span></label>
                                <input readonly="true" type="text" class="form-control" value="ikshit">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group form-horizontal">
                                <label for="musr">Middle Name</label>
                                <input readonly="true" type="text" class="form-control" value="mathur">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group form-horizontal">
                                <label for="lusr">Last Name <span style="color:red">*</span></label>
                                <input readonly="true" type="text" class="form-control" value="mathur">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-4">
                            <div class="form-group form-horizontal">
                                <label for="dob">Date Of Birth <span style="color:red">*</span></label>
                                <input readonly="true" type="text" class="form-control" value="01/01/1999">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>